*{
	box-sizing: border-box;
}

body{
	background-color: #131720;
	font-family: sans-serif;
}

h3{
	color: white;
}

.topnav{

	overflow: hidden;
	background-color: #131720;
	padding: 10px;
}
.thumbnail{
	border-radius: 20px;
	border: solid ;
	border-color: grey;
}

.topnav a{
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	text-transform: uppercase;
}
.topnav .search-container{
	float: right;

}

form {
	background-color: darkslategrey;
	width: 300px;
	height: 30px;
	border-radius: 50px;
	display: flex;
	align-items: center;


}

input {
	all: unset;
	font: 15px system-ui;
	color: white;
	height: 100%;
	width: 100%;
	padding: 6px 9px;
}
